[submodule "sw/sw/control/libopencm3"]
	path = sw/sw/control/libopencm3
	url = https://github.com/libopencm3/libopencm3.git
[submodule "sw/control/libopencm3"]
	path = sw/control/libopencm3
	url = https://github.com/libopencm3/libopencm3.git
