[access]
	inheritFrom = All-Projects
[project]
	description = "MuxPi is an open hardware and open software board which was designed to aid in automating tasks on physical devices. Initial goal was to automate testing on hardware platform, thus connected devices will be called Device Under Test or shortly DUT.  Muxpi is intended to help in testing of embedded systems, automatic software installation or flashing and automation during development. MuxPi is connected between the DUT and a PC/Server machine which will be managing the work.  The name of the board is based on its two main components: SD Mux and NanoPi."
[access "refs/*"]
	owner = group SamsungSLAV
	owner = group user/Łukasz Wojciechowski (lukaszwojciechowski)
[access "refs/for/refs/*"]
	read = group user/Łukasz Wojciechowski (lukaszwojciechowski)
	push = group user/Łukasz Wojciechowski (lukaszwojciechowski)
	label-Code-Review = -2..+2 group user/Łukasz Wojciechowski (lukaszwojciechowski)
	label-Verified = -1..+1 group user/Łukasz Wojciechowski (lukaszwojciechowski)
	rebase = group user/Łukasz Wojciechowski (lukaszwojciechowski)
	removeReviewer = group user/Łukasz Wojciechowski (lukaszwojciechowski)
	submit = group user/Łukasz Wojciechowski (lukaszwojciechowski)
[access "refs/heads/*"]
	read = group user/Łukasz Wojciechowski (lukaszwojciechowski)
	create = group user/Łukasz Wojciechowski (lukaszwojciechowski)
	push = +force group user/Łukasz Wojciechowski (lukaszwojciechowski)
	pushMerge = group user/Łukasz Wojciechowski (lukaszwojciechowski)
[access "refs/tags/*"]
	push = group user/Łukasz Wojciechowski (lukaszwojciechowski)
	push = +force group user/Łukasz Wojciechowski (lukaszwojciechowski)
[receive]
	requireSignedOffBy = true
	requireChangeId = true
[submit]
	action = rebase if necessary
