[Unit]
Description=muxpictl is a daemon and a cli app for communicating with MuxPi's onboard microcontroller.
Requires=muxpictl-user.socket
Requires=muxpictl.socket
Requires=stm-power.service

[Service]
ExecStart=/usr/bin/muxpictl -serve
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
