[Unit]
Description=User socket activation for STM daemon

[Socket]
SocketMode=0660
SocketGroup=stm
ListenStream=/run/stm-user.socket
Service=stm.service

[Install]
WantedBy=sockets.target
