[Unit]
Description=STM RPC
Requires=stm-user.socket
Requires=stm.socket
Requires=muxpi-power.service

[Service]
ExecStart=/usr/bin/stm -serve
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
